{% extends 'index.html' %}

{% block content %}
<style>
    body {
        background-image: url('../static/assets/fondo.png');
        background-repeat: repeat-y;
    }    
</style>
<div class="grid-container2" >
        <div class="grid-item2" onclick="redirect1()">
            <i class="fi fi-br-user-add"></i>
            <p>Crear Contacto</p>
        </div>
        <div class="grid-item2" onclick="redirect2()">
            <i class="fi fi-br-address-book"></i>
            <p>Ver Contactos</p>
        </div>
    <div class="grid-item2" onclick="redirect3()">
        <i class="fi fi-br-home"></i>
        <p>Mis Propiedades</p>
    </div>
    <div class="grid-item2">
        <i class="fi fi-br-document"></i>
        <p>Ver Contratos</p>
    </div>
    <div class="grid-item2" onclick="redirect5()">
        <i class="fi fi-br-calendar-days"></i>
        <p>Ver Agenda</p>
    </div>
    <div class="grid-item2" onclick="redirect6()">
        <i class="fi fi-br-calendar-star"></i>
        <p>Ver Eventos</p>
    </div>
    <div class="grid-item2" onclick="redirect7()">
        <i class="fi fi-br-circle-microphone-lines"></i>
        <p>Podcast</p>
    </div>
    <div class="grid-item2" onclick="redirect8()">
        <i class="fi fi-br-book-alt"></i>
        <p>Biblioteca</p>
    </div>
    <div class="grid-item2" onclick="redirect9()">
        <i class="fi fi-br-search"></i>
        <p>Buscar Propiedades</p>
    </div>
    <div class="grid-item2" onclick="redirect7()">
        <i class="fi fi-br-circle-microphone-lines"></i>
        <p>Podcast</p>
    </div>
    <div class="grid-item2" onclick="redirect8()">
        <i class="fi fi-br-book-alt"></i>
        <p>Biblioteca</p>
    </div>
    <div class="grid-item2" onclick="redirect9()">
        <i class="fi fi-br-search"></i>
        <p>Buscar Propiedades</p>
    </div>
    <div class="grid-item2" onclick="redirect9()">
        <i class="fi fi-br-search"></i>
        <p>Buscar Propiedades</p>
    </div>
</div>
<br>
<script>
    function redirect1() {
           window.location.href = "{{ url_for('crearclientes') }}";
       }
       function redirect2() {
           window.location.href = "{{ url_for('contact') }}";
       }
       function redirect5() {
           window.location.href = "{{ url_for('agenda') }}";
       }
       function redirect6() {
           window.location.href = "{{ url_for('eventos') }}";
       }
       function redirect7() {
           window.location.href = "{{ url_for('podcasts') }}";
       }
       function redirect8() {
           window.location.href = "{{ url_for('biblioteca') }}";
       }
       function redirect9() {
           window.location.href = "{{ url_for('propiedades') }}";
       }
</script>
{% endblock %}