{% extends 'index.html' %}
{% block content %}
<h1 class="m-3">Clientes</h1>
<div class="col-md-12">
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th class="col-md-1">ID</th>
            <th class="col-md-1">Nombre</th>
            <th class="col-md-1">Apellido</th>
            <th class="col-md-1">Dirección</th>
            <th class="col-md-1">Ciudad</th>
            <th class="col-md-0.5">Estado</th>
            <th class="col-md-0.5">Código Postal</th>
            <th class="col-md-1">País</th>
            <th class="col-md-1">Teléfono</th>
            <th class="col-md-1">Email</th>
            <th class="col-md-1">Fecha Registro</th>
            <th class="col-md-1">Editar</th>
            <th class="col-md-1">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente[0] }}</td>
            <td>{{ cliente[1] }}</td>
            <td>{{ cliente[2] }}</td>
            <td>{{ cliente[3] }}</td>
            <td>{{ cliente[4] }}</td>
            <td>{{ cliente[5] }}</td>
            <td>{{ cliente[6] }}</td>
            <td>{{ cliente[7] }}</td>
            <td>{{ cliente[8] }}</td>
            <td>{{ cliente[9] }}</td>
            <td>{{ cliente[10] }}</td>
            <td><a href="{{ url_for('editarclientes', id=cliente[0]) }}">Editar</a></td>
            <td>
                <form action="{{ url_for('eliminar_cliente', id=cliente[0]) }}" method="post" onsubmit="return confirm('¿Estás seguro de eliminar este cliente?')">
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<form action="{{ url_for('crearclientes') }}">
    <button class="btn btn-success m-3" type="submit">Crear</button>
</form>
{% endblock %}