{% extends 'index2.html' %}
{% block content %}
<div class="main1">
    <div id="ext">
        <button onclick="toggleDiv()"><i class="fi fi-br-check" ></i>Crear Contacto</button>
    </div>
    <br>
    <div id="ext">
        <button onclick="toggleDiv2()">Crear Propiedad</button>
        <div class="collapsible-div2" id="collapsibleDiv2">
            <form method="post" enctype="multipart/form-data">
                <label for="analisis">Análisis:</label>
                <textarea type="text" id="analisis" name="analisis" value="" maxlength="100" required></textarea>

                <label for="tipo_pro">Tipo de Propiedad:</label>
                <select class="form-select" id="tipo_pro" name="tipo_pro" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="Casa">Casa</option>
                    <option value="Departamento">Departamento</option>
                </select>
                
                <label for="subtipo">Subtipo de Propiedad:</label>
                <select class="form-select" id="subtipo" name="subtipo" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="Casas de Playa">Casas de Playa</option>
                    <option value="Casa Urbanas">Casa Urbana</option>
                </select>

                <label for="antiguedad">Antiguedad (Años):</label>
                <input type="number" id="antiguedad" name="antiguedad" value="" maxlength="2" required>

                <label for="area_terreno">Área del Terreno:</label>
                <input type="number"   id="area_terreno" name="area_terreno" value="" step="0.01" required>

                <label for="area_construida">Área Construida (opcional):</label>
                <input type="number"   id="area_construida" name="area_construida" value="" step="0.01" required>

                <label for="tipo_negocio">Tipo de Negocio:</label>
                <select class="form-select" id="tipo_negocio" name="tipo_negocio" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="Alquiler">Alquiler</option>
                    <option value="Venta">Venta</option>
                    <option value="Anticresis">Anticresis</option>
                    <option value="Traspaso">Traspaso</option>
                  </select>

                <label for="imagen">Imagen:</label>
                <input type="file" id="imagen" name="imagen" accept="image/*">

                <br>
                <button id="btn" type="submit">Guardar Propiedad</button>
            </form>
        </div>
    </div>
    <br>
    <div id="ext">
        <button onclick="toggleDiv3()"> <i class="fi fi-br-lock"></i>Crear Contrato</button>
        <div class="collapsible-div3" id="collapsibleDiv3">
            
        </div>
    </div>
</main>
<script>
     function toggleDiv2() {
            var div = document.getElementById('collapsibleDiv2');
            div.classList.toggle('expanded');
        }
    
</script>
{% endblock %}