{% extends 'index2.html' %}
{% block content %}
<div class="main1">
    <div id="ext2">
        <h2>Crear Asesor</h2>
        <div>
            <form method="post">
                <label for="nombres">Nombres:</label>
                <input type="text" id="nombres" name="nombres" value="" maxlength="100" required>

                <label for="apellidos">Apellidos:</label>
                <input type="text" id="apellidos" name="apellidos" value="" maxlength="100" required>

                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" value="" maxlength="50" required>

                <label for="contraseña">Contraseña:</label>
                <input type="text" id="contraseña" name="contraseña" value="" maxlength="255" required>
                
                <button id="btn" type="submit">Guardar Asesor</button>
            </form>
        </div>
    </div>
    <br>
</main>
<script>
</script>
{% endblock %}