{% extends 'index.html' %}

{% block content %}
<h1 class="m-3">Detalles de Venta</h1>
<div class="col-md-12">
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th class="col-md-1">ID</th>
            <th class="col-md-1">Venta</th>
            <th class="col-md-1">Producto</th>
            <th class="col-md-1">Cantidad</th>
            <th class="col-md-2">Precio Unitario</th>
            <th class="col-md-1">Editar</th>
            <th class="col-md-1">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for detalle in detalles %}
        <tr>
            <td>{{ detalle[0] }}</td>
            <td>{{ detalle[1] }}</td>
            <td>{{ detalle[2] }}</td>
            <td>{{ detalle[3] }}</td>
            <td>{{ detalle[4] }}</td>
            <td><a href="{{ url_for('editardetalles', id=detalle[0]) }}">Editar</a></td>
            <td>
                <form action="{{ url_for('eliminar_detalles', id=detalle[0]) }}" method="post" onsubmit="return confirm('¿Estás seguro de eliminar este cliente?')">
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<form action="{{ url_for('creardetalles') }}">
    <button class="btn btn-success m-3" type="submit">Crear</button>
</form>
{% endblock %}