{% extends 'index.html' %}

{% block content %}
<h1>Editar Producto</h1>
<form method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" value="{{ producto[1] }}">

    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion">{{ producto[2] }}</textarea>

    <label for="precio">Precio Unitario:</label>
    <input step="any" type="number" id="precio" name="precio" value="{{ producto[3] }}" >

    <label for="stock">Cantidad en Stock:</label>
    <input type="number" id="stock" name="stock" value="{{ producto[4] }}" >

    <label for="proveedor">Proveedor:</label>
    <input type="text" id="proveedor" name="proveedor" value="{{ producto[5] }}">
    <label for="fecha_entrada">Fecha de Entrada a Stock:</label>
    <input type="date" id="fecha_entrada" name="fecha_entrada" value="{{ producto[6] }}">
    <label for="categoria">Categoría:</label>
    <input type="text" id="categoria" name="categoria" value="{{ producto[7] }}">
    
    <button type="submit">Guardar Cambios</button>
</form>
{% endblock %}
