{% extends 'index.html' %}

{% block content %}
<h1 class="m-3">Ventas</h1>
<div class="col-md-12">
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th class="col-md-1">ID</th>
            <th class="col-md-2">Fecha y Hora</th>
            <th class="col-md-1">Cliente</th>
            <th class="col-md-1">Total</th>
            <th class="col-md-1">Método de Pago</th>
            <th class="col-md-1">Estado</th>
            <th class="col-md-1">Editar</th>
            <th class="col-md-1">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for venta in ventas %}
        <tr>
            <td>{{ venta[0] }}</td>
            <td>{{ venta[1] }}</td>
            <td>{{ venta[2] }} {{ venta[8] }}</td>
            <td>{{ venta[3] }}</td>
            <td>{{ venta[4] }}</td>
            <td>{{ venta[5] }}</td>
            <td><a href="{{ url_for('editarventas', id=venta[0]) }}">Editar</a></td>
            <td>
                <form action="{{ url_for('eliminar_ventas', id=venta[0]) }}" method="post" onsubmit="return confirm('¿Estás seguro de eliminar esta venta?')">
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<form action="{{ url_for('crearventas') }}">
    <button class="btn btn-success m-3" type="submit">Crear</button>
</form>
{% endblock %}