@charset "UTF-8";
a {
  text-decoration: none;
}

i {
  font-size: 3rem;
  margin: 0;
}

.fi-br-lock {
  font-size: 1.25rem;
  padding: 1rem 1.15rem;
  margin-right: 2.5%;
  background-color: #FFE8A3;
  border-radius: 50%;
}

.fi-br-check {
  all: ini;
  font-size: 1.25rem;
  padding: 1rem 1.15rem;
  margin-right: 2.5%;
  background-color: #AFF4C6;
  border-radius: 50%;
}

body {
  background-image: url("../assets/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 1rem;
  width: 90vw;
  height: 90vh;
}

.main1 {
  display: flex;
  flex-direction: column;
  padding: 2.5%;
}

.logo {
  width: 8rem;
  height: 8rem;
}

.nave {
  background-color: #000000;
  height: 5rem;
  width: 100%;
}

.boton {
  background-color: #CE6B37;
  color: #FFFFFF;
  padding: 0.5rem 1rem 0.5rem;
  width: 2.5rem;
  border-radius: 0.5rem;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  width: 99vw;
  height: 90vh;
  padding: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100vw;
  height: 89vh;
  padding: 3vw;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.9490196078);
  border-radius: 1.563rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10.5rem;
}

.grid-item2 {
  background-color: rgba(255, 255, 255, 0.9490196078);
  border-radius: 1.563rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 9rem;
}

.grid-item, .grid-item2 p {
  margin: 0;
  font-size: 95%;
  font-weight: 600;
}

.collapsible-div, .collapsible-div2, .collapsible-div3 {
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease;
  width: 90vw;
  height: 10vh;
  height: 0vw;
}
.collapsible-div p, .collapsible-div2 p, .collapsible-div3 p {
  padding: 10px;
}
.collapsible-div.expanded, .collapsible-div2.expanded, .collapsible-div3.expanded {
  height: 55vh;
  padding: 1vw 2.5vw;
}
.collapsible-div form, .collapsible-div2 form, .collapsible-div3 form {
  display: grid;
  grid-template-columns: repeat(2, 12% 37.5%);
  gap: 1rem;
}
.collapsible-div form label, .collapsible-div2 form label, .collapsible-div3 form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #666;
}
.collapsible-div form input, .collapsible-div2 form input, .collapsible-div3 form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}
.collapsible-div form button, .collapsible-div2 form button, .collapsible-div3 form button {
  grid-column: 1/-1;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.collapsible-div3 {
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease;
  width: 90vw;
  height: 10vh;
  height: 0vw;
}
.collapsible-div3 p {
  padding: 10px;
}
.collapsible-div3.expanded {
  height: 30vh;
  padding: 1vw 2.5vw;
}

#ext {
  padding: 5vw;
  background-color: rgba(255, 255, 255, 0.9490196078);
  border-radius: 1.563rem;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  height: 20%;
}

#ext2 {
  padding: 5vw;
  background-color: rgba(255, 255, 255, 0.9490196078);
  border-radius: 1.563rem;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  height: 25%;
}
#ext2 form {
  padding: 0.75rem;
  display: grid;
  grid-template-columns: repeat(3, 6% 25%);
  gap: 1rem;
}
#ext2 form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #666;
}
#ext2 form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}
#ext2 form button {
  grid-column: 1/-1;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

#ext button {
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 1rem;
  margin: 0;
  font-size: 1.25rem;
  outline: none;
}

.propiedad-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%; /* Esto hará que la imagen sea circular, si lo deseas */
}

.asesor-imagen-placeholder {
  width: 90px;
  height: 90px;
  background-color: #ccc; /* Color de fondo para cuando no hay imagen */
  border-radius: 50%;
}

#ext2 #btn {
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem;
  background-color: #AFF4C6;
  margin-bottom: 1rem;
}

#ext #btn {
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem;
  background-color: #AFF4C6;
  margin-bottom: 1rem;
}

.contact-container {
  background: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
  width: 90vw;
  padding: 20px;
  border-radius: 10px;
}

.list-group-item {
  background: rgba(255, 255, 255, 0.8);
  border: none;
}

.list-group-item:nth-child(odd) {
  background: rgba(255, 255, 255, 0.9);
}

.list-group-item span {
  display: flex;
  flex-direction: column;
}

.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.events-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}

.event-card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-image, .event-image-placeholder {
  width: 250px;
  height: 100%;
  background-color: #f0f0f0;
}

.event-info {
  padding: 10px;
  flex-grow: 1;
}

.event-info h2 {
  margin: 0;
  font-size: 18px;
}

.event-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.ver-mas-btn {
  background-color: #e6f3ff;
  color: #007bff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  float: right;
  font-size: 14px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}

.order-select, .search-bar input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-btn {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0 4px 4px 0;
  padding: 8px;
}

.contracts-container {
  padding: 10px;
}

.contract-card {
  background-color: white;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=main.css.map */
